# Maven target directory
target/

# Maven Wrapper
!.mvn/wrapper/maven-wrapper.jar

# IDE-specific files
### Eclipse / STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea/
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

# Logs
logs/
*.log

# Environment files
.env

# macOS
.DS_Store

# Embedded databases
*.h2.db
*.mv.db

# Node.js (if applicable)
node_modules/

# Additional build directories
build/
